.animate {
    animation: slideLeft 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animateReverse {
    animation: slideLeftReverse 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
}

@keyframes slideLeftReverse {
    to {
        opacity: 0;
        transform: translateX(100%);
    }
    from {
        opacity: 1;
        transform: translateX(0);
    }
}

.delay-100 {
    animation-delay: 100ms;
}

.delay-200 {
    animation-delay: 200ms;
}

.delay-300 {
    animation-delay: 300ms;
}

.questionMark {
    animation: reveal 1s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes reveal {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
