@media (min-width: 1600px) {
}

@media (max-width: 1440px) {
    .stepSingle {
        width: 230px;
    }

    .steps {
        padding: 15px 30px;
    }

    .question {
        height: 150px;
        font-size: 30px;
    }

    .options .option {
        margin-top: 20px;
        height: 80px;
    }

    .option label {
        font-size: 24px;
    }

    .options .option::before {
        height: 45px;
        top: -45px;
    }
}

@media (max-width: 1200px) {
    .stepsBar .stepSingle {
        width: 150px;
    }

    .stepSingle span {
        font-size: 18px;
        width: 35px;
        height: 35px;
    }

    .question {
        height: 100px;
        font-size: 24px;
    }

    .options .option {
        margin-top: 10px;
        height: 60px;
    }

    .option label {
        font-size: 18px;
    }

    .options .option::before {
        height: 35px;
        top: -35px;
    }
}

@media (max-width: 992px) {
    .question {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .tab-none {
        display: none;
    }

    form {
        width: 100%;
    }

    .question {
        border-radius: 50px;
        --left-minus: 0px;
    }

    .stepsBar .stepSingle {
        width: 100px;
    }
}

@media (max-width: 576px) {
    header {
        min-height: 100px;
    }

    header,
    footer {
        padding: 10px;
    }

    .stepsBar .stepSingle {
        width: 80px;
    }

    .stepSingle span {
        font-size: 15px;
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 480px) {
    .steps {
        padding: 20px 0;
    }

    .options {
        width: 95%;
    }

    .nextPrev {
        flex-wrap: wrap;
    }

    .nextPrev button {
        width: 100%;
    }

    .stepsBar .stepSingle {
        width: 30px;
    }

    .stepsBar {
        gap: 15px;
    }
}
